<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.ac.tukorea.waiter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_waiter"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waiter"
        tools:targetApi="31">

        <meta-data
            android:name="com.naver.maps.map.8eo4a3qdn1"
            android:value="vNsyPSCAUhaNcqAinP9qzEh6eovnvJx7GlGj2TQD" />



        <activity
            android:name=".Owner_Search"
            android:exported="true"/>

        <activity
            android:name=".Waiter_Search"
            android:exported="true"/>

        <activity
            android:name=".StoreList_UseOwner"
            android:exported="true" />
        <activity
            android:name=".customerWaitinglist"
            android:exported="true" />
        <activity
            android:name=".Information_Registration_Page"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Waiting_List_Page"
            android:exported="true" />
        <activity
            android:name=".MapPage"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>

        <activity
            android:name=".AutoLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>